
<div class="row row-cols-1">
  <div class="l-card col-md-4 col-sm-12">
    <div class="card hor-center" style="width: 16rem;">
      <%= image_tag avatar_url(@user), class: "avatar-full card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= @user.fullname %></h5>
        <p class="card-text">
          <%= @user.email %>
        </p>
        <a href="<%= @user.kakao %>" class="btn btn-primary">오픈카톡 연락하기</a>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-sm-12 row-space-1">
    <h2><%= @user.fullname %></h2>
    <div class="description">
      <%= @user.s_description %>
    </div>
    <br>

    <!--listing-->
    <strong><h5> Total : (<%= @books.length %>)권</h5></strong><br>
    <div class="row">
      <% @books.each do|book| %>
        <div class="col-md-4">
          <div class="card card-book-list" >
            <div class="vertical-center img-fluid preview">
              <%= image_tag(book.photos[0].image.url(),class: "card-img-top") if book.photos.length > 0 %>
            </div>
            <div class="card-body">
                <%= link_to book.book_name, book %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br><hr>
    <!--revies-->
    <strong><h5>Reviews</h5></strong><br>

    <% @books.each do |book| %>
      <% if !book.reviews.blank? %>
          <% book.reviews.each do |review| %>
            <div class="row">
              <div class="col-md-2 text-center">
                <%= link_to user_path(review.user) do %>
                  <%= image_tag avatar_url(review.user), class: "rounded-circle avatar-medium" %><br>
                  <%= review.user.fullname %>
                <% end %>
              </div>
              <div class="col-md-10">
                <strong><%= link_to book.book_name, book %></strong> <br>
                <%= review.comment %> <br>
                <%= review.created_at.strftime("%F") %>
                <hr>
              </div>
            </div>
          <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<br>
<br>