<div class="row">
  <div class="col-md-3 sidebar-list">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "나의 책 리스트", books_path, class: "sidebar-link active"%></li>
      <li class="sidebar-item"><%= link_to "받은 대여요청", books_path, class: "sidebar-link"%></li>
      <li class="sidebar-item"><%= link_to "보낸 대여요청", my_requests_path, class: "sidebar-link"%></li>
    </ul>
  </div>
  <div class="col-md-9 text-left">
    <div class="card">
      <div class="card-header">
        Listings
      </div>

      <div class="card-body list-item-font">
        <% @books.each do |book| %>
          <div class="row list-item-custom ">
            <div class="col-md-2 vertical-center img-fluid">
              <%= image_tag(book.photos[0].image.url(),class: "img-thumbnail") if book.photos.length > 0 %>
            </div>
            <div class="col-md-7 vertical-center">
              <h5><%= book.book_name %></h5>
            </div>
            <div class="col-md-3 float-right vertical-center">
              <%= link_to "Update", edit_book_path(book), class: "btn btn-primary" %>
            </div>
          </div>
          <hr>
        <% end %>


      </div>
    </div>
  </div>
</div>