<div class="card">
  <div class="card-body">

    <!--image-->
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photos[0].image.url, class: "img-fluid hor-center title-img-detail" if @photos.length >0 %>
      </div>
    </div>

    <br>
    <hr>


    <!-- Main Info -->
    <div class="row main-profile-row">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 text-center">
            <%= image_tag avatar_url(@book.user), class: "rounded-circle avatar-large" %><br>
            <%= @book.user.fullname %>
            <br>
          </div>

          <div class="col-md-9 vertical-center">
            <h4><%= @book.book_name %></h4>
            <%= @book.address %>
          </div>

        </div>


      </div>

      <div class="col-md-4">
        <!-- Request form -->
        <%= render 'requests/form' %>
      </div>
    </div>



    <!-- type -->
    <div class="row type-view">
      <div class="col-md-3 ">
        <p class="type-view-p"> ▶ 도서 분야 : <%= @book.book_type %> </p>
      </div>
      <div class="col-md-3">
        <p class="type-view-p"> ▶ isbn : <%= @book.isbn %> </p>
      </div>
    </div>

    <br>
    <hr>

    <!-- about -->
    <label> 상세정보 </label>
    <div class="row">
      <div class="col-md-12">
        <p><%= @book.summary %></p>
      </div>
    </div>

    <br>
    <br>

    <!--carousel-->
    <div class="row ">
      <div class="col-md-8 offset-md-1 hor-center" >
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <!-- indicators-->
          <% if @photos %>
            <ol class="carousel-indicators">
              <% @photos.each do |photo| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= photo.id %>"></li>
              <% end %>
            </ol>
          <% end %>

          <!-- wrapper for slides -->
          <div class="carousel-inner">
            <% if @photos %>
              <% @photos.each do |photo| %>
                <div class="carousel-item <%= 'active' if photo.id == @photos[0].id %>">
                 <%= image_tag photo.image.url, class: "d-block w-100" %>
                </div>
              <% end %>
            <% end %>
          </div>

          <!-- left and right controls -->
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <br>
    <hr>

    <!--Google Map-->
    <label> 책장 위치 </label>
    <div class="row">
      <div class="col-md-8 hor-center">

        <div id="map"></div>

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCSC3dBrgFUOnwHVkiR9MA5ZmwEIwIU9c&callback=initMap&libraries=places"></script>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                const uluru = { lat: <%= @book.latitude %>, lng: <%= @book.longitude %> };
                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 14,
                    center: uluru,
                });
                // The marker, positioned at Uluru
                const marker = new google.maps.Marker({
                    position: uluru,
                    map: map,
                    title: "koob"
                });
            }
        </script>

      </div>
    </div>

    <br>
    <br>
    <hr>


    <!--Close by Rooms-->
    <label> 주위에 있는 책장 같이 탐색</label>
    <div class="row">
      <% for book in @book.nearbys(10) %>
        <div class="col-md-4">
          <div class="card" >
            <div class="vertical-center img-fluid">
              <%= image_tag(book.photos[0].image.url(),class: "card-img-top") if book.photos.length > 0 %>
            </div>
            <div class="card-body">
              <span class="card-title">
                <%= link_to book.book_name, book %>
              </span> <br>
              <div class="card-text">
                ( <%=book.distance.round(2) %> miles away )
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>




  </div>
</div>

<br>