
<!DOCTYPE html>
<html>
  <head>
    <title>Koob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% favicon_link_tag asset_path('/favicon-32x32.png') %>
    <script src="https://kit.fontawesome.com/db758f114b.js" crossorigin="anonymous"></script>
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCSC3dBrgFUOnwHVkiR9MA5ZmwEIwIU9c&callback=initMap&libraries=&v=weekly&language=ko&region=kr"-->
<!--            defer>-->
<!--    </script>-->

  </head>

  <body>

    <%= render 'shared/navbar' %>
<!--    <p class="notice"><%#= notice %></p>-->
<!--    <p class="alert"><%#= alert %></p>-->

    <% if notice %>
      <%= render 'layouts/alerts' %>
    <% end %>
    <br/>

    <div class="container">

      <%= yield %>
    </div>



    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v8.0&appId=372422270876978&autoLogAppEvents=1" nonce="QaP1iZQq"></script>
  </body>


</html>
