
<!DOCTYPE html>
<html>
  <head>
    <title>Koob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% favicon_link_tag asset_path('/favicon-32x32.png') %>
    <script src="https://kit.fontawesome.com/db758f114b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<!--    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCSC3dBrgFUOnwHVkiR9MA5ZmwEIwIU9c&callback=initMap&libraries=&v=weekly&language=ko&region=kr"-->
<!--            defer>-->
<!--    </script>-->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
      integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
      crossorigin="anonymous"></script>

  </head>

  <body>

    <%= render 'shared/navbar' %>
<!--    <p class="notice"><%#= notice %></p>-->
<!--    <p class="alert"><%#= alert %></p>-->

    <% if notice %>
      <%= render 'layouts/alerts' %>
    <% end %>
    <br/>

    <div class="container">

      <%= yield %>
    </div>



    <div id="fb-root"></div>
    <br>
    <br>
    <footer id="footer" class="card-footer">


      <div>
        <a href=""><i class="social-icon fab fa-twitter"></i></a>
        <a href=""><i class="social-icon fab fa-facebook"></i></a>
        <a href=""><i class="social-icon fab fa-instagram"></i></a>
        <a href="mailto:koobthebook@example.com"><i class="social-icon fas fa-envelope"></i></a>
      </div>

      <%= link_to user_guide_path do%>
        <p>HOW TO KOOB?</p>
      <% end %>
      
      <p>© Copyright 2020 Chanhee Jeong</p>
    </footer>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v8.0&appId=372422270876978&autoLogAppEvents=1" nonce="QaP1iZQq"></script>
  </body>


</html>
